openapi: 3.1.0
info:
  title: Albany Data Systems — Chief of Staff Dashboard
  description: >
    Read and control the ADS command-center dashboard. Categories are status
    cards (TODAY, NEEDS YOU, BMTS, CLIENTS / SALES, PPA, EMAIL, MONEY, SYSTEMS).
    "focus" is the small list of top priorities. "week" is the This Week task list.
    Status is always one of: green, yellow, red, purple.
  version: 1.0.0
servers:
  - url: https://dashboard.albanydatasystems.com
security:
  - bearerAuth: []
paths:
  /api/state:
    get:
      operationId: getState
      summary: Read the entire dashboard (categories, focus, week, overall status).
      responses:
        '200': { description: Full dashboard state }
  /api/categories/{key}:
    get:
      operationId: getCategory
      summary: Read one category by id or label (e.g. "bmts" or "BMTS").
      parameters:
        - name: key
          in: path
          required: true
          description: Category id or label (case-insensitive), e.g. bmts or "CLIENTS / SALES".
          schema: { type: string }
      responses: { '200': { description: The category } }
    patch:
      operationId: updateCategory
      summary: Change a category's status, summary, or label.
      parameters:
        - name: key
          in: path
          required: true
          description: Category id or label (case-insensitive).
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [green, yellow, red, purple]
                summary: { type: string, description: Short line shown on the card }
                label: { type: string }
      responses: { '200': { description: Updated category } }
  /api/categories/{key}/items:
    post:
      operationId: addCategoryItem
      summary: Add a detail item revealed when the category card is expanded.
      parameters:
        - name: key
          in: path
          required: true
          description: Category id or label (case-insensitive).
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string }
                status:
                  type: string
                  enum: [green, yellow, red, purple]
                note: { type: string }
      responses: { '201': { description: Created item } }
  /api/categories/{key}/items/{itemId}:
    patch:
      operationId: updateCategoryItem
      summary: Update a category detail item.
      parameters:
        - name: key
          in: path
          required: true
          description: Category id or label (case-insensitive).
          schema: { type: string }
        - name: itemId
          in: path
          required: true
          description: The item id.
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text: { type: string }
                status:
                  type: string
                  enum: [green, yellow, red, purple]
                note: { type: string }
      responses: { '200': { description: Updated item } }
    delete:
      operationId: deleteCategoryItem
      summary: Remove a category detail item.
      parameters:
        - name: key
          in: path
          required: true
          description: Category id or label (case-insensitive).
          schema: { type: string }
        - name: itemId
          in: path
          required: true
          description: The item id.
          schema: { type: string }
      responses: { '200': { description: Deleted } }
  /api/categories/{key}/items/{itemId}/complete:
    post:
      operationId: completeCategoryItem
      summary: Mark a category task done — moves it to the completed archive.
      parameters:
        - name: key
          in: path
          required: true
          description: Category id or label (case-insensitive).
          schema: { type: string }
        - name: itemId
          in: path
          required: true
          description: The item id.
          schema: { type: string }
      responses: { '200': { description: Archived task } }
  /api/focus:
    get:
      operationId: listFocus
      summary: List the top priorities (Your Focus).
      responses: { '200': { description: Focus list } }
    post:
      operationId: addFocus
      summary: Add a priority. Use position "top" to make it number one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                detail: { type: string }
                position: { type: string, enum: [top], description: Put it first }
      responses: { '201': { description: Created priority } }
  /api/focus/{id}:
    patch:
      operationId: updateFocus
      summary: Edit a priority, or move it to the top with position "top".
      parameters:
        - name: id
          in: path
          required: true
          description: The focus item id.
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                detail: { type: string }
                position: { type: string, enum: [top] }
      responses: { '200': { description: Updated } }
    delete:
      operationId: deleteFocus
      summary: Remove a priority (e.g. it's handled).
      parameters:
        - name: id
          in: path
          required: true
          description: The focus item id.
          schema: { type: string }
      responses: { '200': { description: Deleted } }
  /api/focus/reorder:
    post:
      operationId: reorderFocus
      summary: Reorder priorities by passing the full list of ids in order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order: { type: array, items: { type: string } }
      responses: { '200': { description: Reordered } }
  /api/week:
    get:
      operationId: listWeek
      summary: List the This Week tasks.
      responses: { '200': { description: Week task list } }
    post:
      operationId: addWeekTask
      summary: Add a task to This Week.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                meta: { type: string, description: 'Small context line, e.g. "BMTS · due Friday"' }
                note: { type: string, description: Longer details/notes for this weekly task }
                status:
                  type: string
                  enum: [green, yellow, red, purple]
                position: { type: string, enum: [top] }
      responses: { '201': { description: Created task } }
  /api/week/{id}:
    patch:
      operationId: updateWeekTask
      summary: Update a weekly task's title, meta, note, or status.
      parameters:
        - name: id
          in: path
          required: true
          description: The week task id.
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                meta: { type: string }
                note: { type: string }
                status:
                  type: string
                  enum: [green, yellow, red, purple]
                position: { type: string, enum: [top] }
      responses: { '200': { description: Updated task } }
    delete:
      operationId: deleteWeekTask
      summary: Remove a This Week task.
      parameters:
        - name: id
          in: path
          required: true
          description: The week task id.
          schema: { type: string }
      responses: { '200': { description: Deleted } }
  /api/week/{id}/complete:
    post:
      operationId: completeWeekTask
      summary: Mark a weekly task complete — moves it to the completed archive.
      parameters:
        - name: id
          in: path
          required: true
          description: The week task id.
          schema: { type: string }
      responses: { '200': { description: Archived task } }
  /api/overall:
    patch:
      operationId: setOverall
      summary: Pin an overall banner override, or clear it with override=null.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                override:
                  type: object
                  nullable: true
                  properties:
                    status:
                      type: string
                      enum: [green, yellow, red, purple]
                    message: { type: string }
      responses: { '200': { description: Overall status } }
  /api/reassurance:
    patch:
      operationId: setReassurance
      summary: Set the reassuring line under Your Focus.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text: { type: string }
      responses: { '200': { description: Updated } }
  /api/projects:
    get:
      operationId: listProjects
      summary: List the Current Projects boxes.
      responses: { '200': { description: Project list } }
    post:
      operationId: addProject
      summary: Add a Current Projects box.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                logo: { type: string, description: Path or URL to the project logo image }
                tagline: { type: string, description: Short one-line summary }
                stage: { type: string, description: 'e.g. Planning, In development, Live' }
                url: { type: string, description: Website or link for the project }
                description: { type: string, description: Longer description of the project }
                status:
                  type: string
                  enum: [green, yellow, red, purple]
                note: { type: string }
                position: { type: string, enum: [top] }
      responses: { '201': { description: Created project } }
  /api/projects/{id}:
    patch:
      operationId: updateProject
      summary: Update any field of a project (name, tagline, stage, url, description, status, note, logo).
      parameters:
        - name: id
          in: path
          required: true
          description: The project id.
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                logo: { type: string }
                tagline: { type: string }
                stage: { type: string }
                url: { type: string }
                description: { type: string }
                status:
                  type: string
                  enum: [green, yellow, red, purple]
                note: { type: string }
                position: { type: string, enum: [top] }
      responses: { '200': { description: Updated project } }
    delete:
      operationId: deleteProject
      summary: Remove a Current Projects box.
      parameters:
        - name: id
          in: path
          required: true
          description: The project id.
          schema: { type: string }
      responses: { '200': { description: Deleted } }
  /api/completed:
    get:
      operationId: listCompleted
      summary: List completed (archived) tasks, newest first.
      responses: { '200': { description: Completed task list } }
  /api/completed/{id}/restore:
    post:
      operationId: restoreCompleted
      summary: Restore a completed task back onto its original category.
      parameters:
        - name: id
          in: path
          required: true
          description: The completed task id.
          schema: { type: string }
      responses: { '200': { description: Restored } }
  /api/completed/{id}:
    delete:
      operationId: deleteCompleted
      summary: Permanently delete a task from the completed archive.
      parameters:
        - name: id
          in: path
          required: true
          description: The completed task id.
          schema: { type: string }
      responses: { '200': { description: Deleted } }
  /api/history:
    get:
      operationId: getHistory
      summary: Recent changes to the dashboard, newest first.
      responses: { '200': { description: History list } }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Status:
      type: string
      enum: [green, yellow, red, purple]
      description: green=fine, yellow=needs attention, red=urgent, purple=in progress.
